{% include 'partials/_search.html' %}
{% if messages %}
  {% for message in messages %}
    {% if forloop.last %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endif %}
  {% endfor %}
{% endif %}
{% if page_obj %}
    <hr>
    <h4>Datos cargados:</h4>
    {% if page_obj.object_list and page_obj.object_list.0 %}
    <div class="table-container" style="min-height: 400px;">
        <form id="column-selection-form" method="post" action="{% url 'generate_report' %}" class="mb-3">
        {% csrf_token %}
        <div class="table-responsive">
        <table class="table table-bordered table-striped mt-3">
            <thead class="table-dark">
                <tr>
                    <th class="text-nowrap">#</th>
                    {% for key in page_obj.object_list.0.keys %}
                        <th class="text-nowrap">
                            <label class="form-check-label" for="cb_{{ key }}">
                                <input class="form-check-input me-1" type="checkbox" name="columns" value="{{ key }}" id="cb_{{ key }}">
                                {{ key }}
                            </label>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in page_obj %}
                    <tr>
                        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                        {% for value in row.values %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </form>
    <div id="report-button-container" class="fixed-button sticky-footer bg-white p-2 border-top align-items-center" style="display: none;">
        <button type="submit" formmethod="post" class="btn btn-primary me-3" form="column-selection-form">Generar reporte con columnas seleccionadas</button>
        <div class="d-flex align-items-center">
            <label for="format" class="me-2 mb-0">Formato:</label>
            <select name="format" id="format" class="form-control">
                <option value="csv">CSV</option>
                <option value="xlsx">XLSX</option>
            </select>
        </div>
    </div>
    </div>
    {% endif %}

    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                        &laquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                        &raquo;
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><sp  an class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
{% else %}
    {% if q %}
        <div class="alert alert-warning">No se encontraron resultados para tu búsqueda.</div>
    {% else %}
        <div class="alert alert-info">No hay datos cargados.</div>
    {% endif %}
{% endif %} 